@font-face {
  font-family: "Cookie-Regular";
  src: url("../../assets/Fonts/Cookie-Regular.ttf");
}

ion-grid,
ion-row {
  height: 100%;
}

.login-background {
  background-image: url("../../assets/bglogin.jpg");
  background-size: cover;
}

.login-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0%;
}

h1 {
  font-family: "Cookie-Regular";
  font-size: 80px;
  color: #0f1515;
}

ion-button {
  width: 455px;
  margin-left: -15px;
}
