<ion-content>
  <div class="bg">
    <div class="login-form">
  <form (ngSubmit)="login()" [formGroup]="loginForm" novalidate style="background-color: pink">
  <ion-text color="danger" [hidden]="!error || loginForm.dirty || isLoading">
            <span class="ion-padding" translate>Username or password incorrect.</span>
          </ion-text>
          <ion-list >
            <ion-item lines="inset">
              <ion-label position="floating">Username</ion-label>
              <ion-input type="text" formControlName="username" autocomplete="username"></ion-input>
            </ion-item>
            <ion-text
              color="danger"
              [hidden]="loginForm.controls['username'].valid || loginForm.controls['username'].untouched"
            >
              <span class="ion-padding">Username is required</span>
            </ion-text>
            <ion-item lines="inset">
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password" formControlName="password" autocomplete="current-password"></ion-input>
            </ion-item>
            <ion-text
              color="danger"
              [hidden]="loginForm.controls['password'].valid || loginForm.controls['password'].untouched"
            >
              <span class="ion-padding" translate>Password is required</span>
            </ion-text>
            <ion-item lines="none">
              <ion-label translate>Remember me</ion-label>
              <ion-checkbox slot="start" formControlName="remember"></ion-checkbox>
            </ion-item>
          </ion-list>
          <div class="login-buttons">
            <ion-button
              [routerDirection]="'root'"
              routerLink="/home"
              routerLinkActive="active"
              type="submit"
              [disabled]="loginForm.invalid || isLoading"
              color="primary"
              translate
            >
              Login
            </ion-button>
            <ion-button
              [routerDirection]="'root'"
              routerLink="/register"
              routerLinkActive="active"
              color="primary"
              translate
            >
              Register
            </ion-button>
          </div>
        </form>
      </div>
  </div>
</ion-content>
