ion-content {
  .bg {
    background-image: url('../../assets/bg-image.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;

    .login-form {
      background-color: #D5C496;
      width: 50vw;
      height: 50vh;

      .login-buttons {
        text-align: center;
      }

    }
  }
}